*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build/
/app/build/intermediates/javac/debug/classes/
/common/build/
/common/build/intermediates/javac/debug/classes/
/data/build/
/data/build/intermediates/javac/debug/classes/
/domain/build/
/domain/build/intermediates/javac/debug/classes/
/features/cities/build/
/features/cities/build/intermediates/javac/debug/classes/
/features/direction/build/
/features/direction/build/intermediates/javac/debug/classes/
/features/searchtickets/build/
/features/searchtickets/build/intermediates/javac/debug/classes/